/*----------
header
-----------*/
header{
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 50px;
}

header nav{
    width: 100%;
}
header nav .logo{
    position: absolute;
    left: 20px;
    top: 10px;
    text-decoration: none;
}
header nav .logo a{
    color: #000;
    font-weight: bolder;
}
header nav .name{
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: none;
}
header nav .name a{
    color: crimson;
    font-weight: bolder;
}
/*----------
admin
-----------*/
body nav{
    background-color: black;
    padding: 5px;
    position: relative;
    min-height:50px;
}
body nav .logo{
    position: absolute;
    text-decoration: none;
    top: 10px;
    left: 15px;
}
body nav .logo a{
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
body nav button{
    position: absolute;
    text-decoration: none;
    top: 10px;
    right: 15px;
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
body nav button i{
    color: #000;background: #fff;padding: 5px;border-radius: 5px;
}
body nav .collapse{
    width: 100%;
    padding-top: 40px;
    transition:.5s ease-in;
}
body nav .collapse ul li{
    text-decoration: none;
    text-align: center;
    width: 100%;
}
body nav .collapse ul li a{
    width: 100%;
    color: #fff;
    padding: 3px;
    text-align: center;
}
body nav .collapse ul li a:hover{
    width: 100%;
    color: #000;
    background: #fff;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
}

/*----------
profile
-----------*/

main .profile table{
    width: 100%;
}
main .profile table thead,
main .profile table thead tr{
    width: 100;
    color: crimson;
}
main .profile table thead tr td{
    width: 33%;
}
main .profile table tbody,
main .profile table tbody tr{
    width: 100;
}
main .profile table tbody tr td{
    width: 33%;
}

/*-----------
fixed nav
-----------*/
.fixed-navigation{
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0%;
    z-index: 2000;
    height: 60px;
    display:inline-block;
    background: #fff;
}
.fixed-navigation .item{
    display: inline-block;
    width: 23%;
    padding: 3px;
    border-radius: 3px;
    align-items: center;
}
.fixed-navigation .item:hover{
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    width: 23%;
    align-items: center;
    transition: .5s ease-in-out;
    background: #6b6a5d;
}
.fixed-navigation .item a{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: bolder;
}
.fixed-navigation .item a .fas{
    margin-left: 30%;color: crimson;
}

.fixed-navigation .item a span{
    color: #000;
    text-align: center;
}