*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 min-height:60vh;
    width: 100%;
    background:#fff;
}
main {
    width:100%;
    overflow:auto;
min-height:500px;
}
/*----------
header
-----------*/
header{
    width: 100%;
    background: #fff;
    overflow: hidden;
    height: 50px;
}

header nav{
    width: 100%;
}
header nav .logo{
    position: absolute;
    left: 20px;
    top: 10px;
    text-decoration: none;
}
header nav .logo a{
    color: #000;
    font-weight: bolder;
}
header nav .name{
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: none;
}
header nav .name a{
    color: crimson;
    font-weight: bolder;
}
/*----------
admin
-----------*/
body nav{
    background-color: black;
    padding: 5px;
    position: relative;
    min-height:50px;
}
body nav .logo{
    position: absolute;
    text-decoration: none;
    top: 10px;
    left: 15px;
}
body nav .logo a{
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
body nav button{
    position: absolute;
    text-decoration: none;
    top: 10px;
    right: 15px;
    color: #000;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
body nav button i{
    color: #000;background: #fff;padding: 5px;border-radius: 5px;
}
body nav .collapse{
    width: 100%;
    padding-top: 40px;
    transition:.5s ease-in;
}
body nav .collapse ul li{
    text-decoration: none;
    text-align: center;
    width: 100%;
}
body nav .collapse ul li a{
    width: 100%;
    color: #fff;
    padding: 3px;
    text-align: center;
}
body nav .collapse ul li a:hover{
    width: 100%;
    color: #000;
    background: #fff;
    padding: 3px;
    text-align: center;
    border-radius: 3px;
}

/*----------
profile
-----------*/

main .profile table{
    width: 100%;
}
main .profile table thead,
main .profile table thead tr{
    width: 100;
    color: crimson;
}
main .profile table thead tr td{
    width: 33%;
}
main .profile table tbody,
main .profile table tbody tr{
    width: 100;
}
main .profile table tbody tr td{
    width: 33%;
}

/*-----------
fixed nav
-----------*/
.fixed-navigation{
    width: 100%;
    padding: 10px;
    position: fixed;
    bottom: 0%;
    z-index: 2000;
    height: 60px;
    display:inline-block;
    background: #fff;
}
.fixed-navigation .item{
    display: inline-block;
    width: 23%;
    padding: 3px;
    border-radius: 3px;
    align-items: center;
}
.fixed-navigation .item:hover{
    display: inline-block;
    padding: 3px;
    border-radius: 3px;
    width: 23%;
    align-items: center;
    transition: .5s ease-in-out;
    background: #6b6a5d;
}
.fixed-navigation .item a{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: bolder;
}
.fixed-navigation .item a .fas{
    margin-left: 30%;color: crimson;
}

.fixed-navigation .item a span{
    color: #000;
    text-align: center;
}
/*----------
credit form
------------*/
main .credit-form{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}
main .credit-form h5{
    text-align: center;
}
main .credit-form form{
    width: 80%;
    margin: 0 auto;
}
main .credit-form form .input-group{
    width: 100%;
    display: inline-block;
}
main .credit-form form .input-group label{
    width: 30%;
    display: inline-block;
    font-weight: bolder;
}
main .credit-form form .input-group input{
    width: 65%;
    display: inline-block;
    border-radius: 5px;
}
main .credit-form form button{
    width: 100%;
    margin: 0 auto;
    border: none;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}
main .credit-form form button:hover{
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    border: none;
    background: crimson;
    color: #fff;
    padding: 5px;
}
/*----------
lay and back
-----------*/
main section{
    width: 100%;
}
main section .details{
    width: 100%;
}
main section .details p{
    width: 100%;
    background: #000;
    color: #fff;
}
main section .details .title,
main section .details .home,
main section .details .away,
main section .details .draw{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #9da8a0;
}
main section .details .title .team,
main section .details .home .team,
main section .details .away .team,
main section .details .draw .team{
    width: 68%;
    display: inline-block;
}
main section .details .title .back,
main section .details .home .back,
main section .details .away .back,
main section .details .draw .back{
    width: 13%;
    display: inline-block;
    background: #2a99c5;
    border-radius:5px ;
    color: #000;
    padding: 10px;
    margin: 3px;
    
}
main section .details .title .lay,
main section .details .home .lay,
main section .details .away .lay,
main section .details .draw .lay{
    width: 13%;
    display: inline-block;
    background: #f8959f;
    border-radius:5px ;
    color: #000;
    padding: 10px;
    margin: 3px;
}
/*-----------
banner
-----------*/
#banner{
    width: 100%;
    display: inline-block;
    padding: 10px;
    background: crimson;
}
#banner .odd,
#banner .over{
    width: 48%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}
#banner .odd a,
#banner .over a{
    color: #fff;
}
#banner .odd .active,
#banner .over .active{
    color: black;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
main section .details .home .back,
main section .details .home .lay,
main section .details .away .back,
main section .details .away .lay,
main section .details .draw .back,
main section .details .draw .lay{
    text-decoration: none;
    font-weight: bolder;
}
main section .details .home .back a,
main section .details .home .lay a,
main section .details .away .back a,
main section .details .away .lay a,
main section .details .draw .back a,
main section .details .draw .lay a{
    text-decoration: none;
    color: black;
} 
/*-----------
lay bet
-----------*/
main section .details .lay-bet{
    padding: 10px;
    
    background: #f8959f;
    border: none;
    border-radius: 5px;
    width: 100%;
}
main section .details .lay-bet form{
    width:100%;
    padding: 5px;
    margin: 0 auto;
    display: inline-block;

}
main section .details .lay-bet form input{
   width:48%;
   margin-right: 5px;
   display: inline-block;

}
main section .details .lay-bet form .stake{
    width:48%;
    padding-left: 5px;
    display: inline-block;
}
main section .details .lay-bet form .stake span{
    font-weight: bolder;
}
main section .details .lay-bet form .stake input{
    width:75%;
    
}
main section .details .lay-bet form .buttons{
    width:100%;
    padding: 5px;
    
}
main section .details .lay-bet form .link{
    width:48%;
    padding: 0px;
    margin: 0 auto;
    border: none;
    text-decoration: none;
    background: rgb(133, 130, 130); 
}
main section .details .lay-bet form .link a{
    width:100%;
    color: #000;
    height: 30px;
    cursor: pointer;
}
main section .details .lay-bet form button{
    width:48%;
    margin: 0 auto;
    border: none;
    text-decoration: none; 
    height: 30px; 
    background: #000;
    color: #fff;;
}
main section .details .lay-bet form .stake-confirm{
    width: 80%;
    margin-left:25%;
    display: inline-block;

}
main section .details .lay-bet form .stake-confirm span{
    width: 40%;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}
main section .details .lay-bet form .stake-confirm span{
    width: 40%;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}
/*-----------
back bet
-----------*/
main section .details .back-bet{
    padding: 10px;
   
    background: #2a99c5;
    border: none;
    border-radius: 5px;
    width: 100%;
}
main section .details .back-bet form{
    width:100%;
    padding: 5px;
    margin: 0 auto;
    display: inline-block;

}
main section .details .back-bet form input{
   width:48%;
   margin-right: 5px;
   display: inline-block;

}
main section .details .back-bet form .stake{
    width:48%;
    padding-left: 5px;
    display: inline-block;
}
main section .details .back-bet form .stake span{
    font-weight: bolder;
}
main section .details .back-bet form .stake input{
    width:75%;
    
}
main section .details .back-bet form .buttons{
    width:100%;
    padding: 5px;
    
}
main section .details .back-bet form .link{
    width:48%;
    padding: 0px;
    margin: 0 auto;
    border: none;
    text-decoration: none;
    background: rgb(133, 130, 130); 
}
main section .details .back-bet form .link a{
    width:100%;
    color: #000;
    height: 30px;
    cursor: pointer;
}
main section .details .back-bet form button{
    width:48%;
    margin: 0 auto;
    border: none;
    text-decoration: none; 
    height: 30px; 
    background: #000;
    color: #fff;;
}
main section .details .back-bet form .stake-confirm{
    width: 80%;
    margin-left:25%;
    display: inline-block;

}
main section .details .back-bet form .stake-confirm span{
    width: 40%;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}
main section .details .back-bet form .stake-confirm span{
    width: 40%;
    font-weight: bolder;
    text-align: left;
    display: inline-block;
}
/*------------
create bet form
------------*/
.form-container{
    width: 350px;
    height: 500px;
    overflow: auto;
    background: #fff;
    padding: 30px;
    position: absolute;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    transition: all .3s ease;
    border-radius: 10px;
    z-index: 9999;
}
.form-container form{
    width: 100%;
}
.form-container form .input-group{
    width: 90%;
}
.form-container form .input-group label{
    width: 30%;
    font-size:12px;
}
.form-container form .input-group input{
    width: 70%;
    font-size:12px;
    height:18px;
}
#toggle{
    display: none;
}
#toggle:checked~ .form-container{
    opacity: 0;
    top: 40%;
    pointer-events: none;
    transition: all .3s ease;
}
.form-container .cancel-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    color:#000;
}
.form-container form button{
    width: 80%;
    border: none;
    background: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/*----------
add link
-----------*/
#add-link{
    position: fixed;
    right: 20px;
    bottom: 150px;
    padding: 0px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    background: #000;
    border-radius: 5px;
}
#add-link a{
    color: #fff;
    height: 40px;
    width:40px;
    padding: 10px;
}
#add-link a{
    color: #fff;
    font-size: 25px;
}

.show-btn, .wrapper{
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.show-btn{
    color:#111004;
    font-size: 20px;
    font-weight: 500;
    padding: 13px 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.wrapper{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: all .3s ease;

}
.wrapper .buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.wrapper .buttons button{
    text-decoration: none;
    width:45%;
    border: none;
    background: linear-gradient(136deg, #111004 0%, #1b7fbd 100%);
}
.wrapper .buttons button a{
    color: #fff;
}
.wrapper .icon{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    line-height: 110px;
    background: linear-gradient(136deg, #111004 0%, #1b7fbd 100%);
    font-size: 55px;
    color: #fff;
}
.wrapper .content{
    margin: 20px;
}
.content header{
    font-size: 30px;
    font-weight: bolder;
    color: #111004;
}
.content p{
    color:#111004;
    font-weight: 400;
    margin-left: -3px;
}
form{
    width: 98%;
}
form .input-group{
    display:flex;
    border-radius: 3px;
    margin: 2px;
}
form .input-group .text{
    text-align: left;
}
form .input-group input{
    width: 100%;
    padding: 0 20px;
    outline: none;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid grey;
    transition: all 0.3s ease;
}
form .btn{
    height: 47px;
    background: linear-gradient(136deg, #111004 0%, #1b7fbd 100%);
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 0px;
    width: 98%;
    cursor: pointer;
}
.wrapper p{
    text-decoration: none;

}
.wrapper p a{
    color: rgb(8, 79, 112);
}
.wrapper form .callout-danger{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}
.wrapper form .callout-success{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}
/*------------
footer
--------------*/
footer{
    width: 100%;
    height:100px;
    background: black;
    color: #fff;
    padding-bottom:60px:
}
footer .footer-container{
    padding-top: 30px;
    text-align: center;
}
footer .footer-container button{
    background: transparent;
    text-decoration: none;
    border: none;
}
/*--------------
customisations
*--------------*/
@media(max-width:600px) {
    body{
        width: 100%
        background: #fff;
    }
    .wrapper{
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
    }

    .wrapper .icon{
        height:40px;
        width:40px;
        border-radius: 50%;
        background: black;
        padding: 0px;
        margin: 0;
        font-size: 20px;
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .wrapper .content h4{
        text-align: left;
    }
    .wrapper .content p{
        text-align: left;
    }
    .wrapper .buttons{
        position: absolute;
        width: 50%;
        top: 5px;
        right: 5px;  
    }
    .wrapper .buttons button{
        text-decoration: none;
        width:45%;
        background: transparent;
        border-right: 2px solid black;
    }
    .wrapper .buttons button a{
        color: #000;
        font-weight: bolder;
    }
    .wrapper .buttons button:hover {
        text-decoration: none;
        width:45%;
        background: transparent;
        border-right: 2px solid black;
    }
}
